@charset "utf-8";

.fixed-top-2 {
    margin-top: 65px;
    background-color: #f1f1f1;
}

body {
    padding-top: 105px;
    font-family: 'Montserrat', sans-serif;
    
}

.navbar{
  background-color: #ffffff;
  justify-content: left;
}

#descrizione{
  height: 100px;
  width: auto;
  padding: 0px;

}
/* Dropdown Button */
.dropbtn {
    background-color: #b3e2d7;
    color: rgb(51, 51, 51);
    margin-top: 20px;
    padding-top: 16px;
    padding-left: 50px;
    padding-right: 50px;
    
    padding-bottom: 16px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    justify-content: center;
}

.pro-title {
        text-decoration: none; /* Rimuove la sottolineatura predefinita */
        color: black; /* Colore del testo iniziale */
         transition: background-color 0.3s, border-radius 0.3s; 
         padding: 10px;
         
    }

    .pro-title:hover {
        background-color: #FCDD98;
        border-radius: 10px;
        
    }
.card-with-shadow {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Personalizza l'ombra secondo necessità */
            margin-bottom: 20px; /* Aggiunge uno spazio tra le card */
            margin: 5px;
        }
#cardDett{
	margin-top:40px;
}

#navbar{
  background-color: #b3e2d7;
  padding: 0px;
}
  
  
  h3{
	  margin-bottom: 15px;
  }  
#navbar2{
  justify-content: end;
  padding: 0px;

} 
.container-fluid{
  background-color: #ffffff;
} 
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
   
  }
  
 
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  /* Nuova regola per posizionare il dropdown rispetto al contenitore */
.dropdown:hover .dropdown-content {
    display: block;
    top: 100%; /* Regola la distanza dal contenitore principale */
    left: 0; /* Allineamento a sinistra rispetto al contenitore principale */
}



  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  img{
    width: auto;
    height: auto;
 
  }
  
  #logo{
	  width: 400px;
	  height: auto;
	  padding-bottom: 5px;
	     padding-left: 50px;
  }
  #logofooter{
	  max-width: 100%; /* Imposta la larghezza massima al 100% del contenitore padre */
            max-height: 100px; /* Imposta l'altezza massima desiderata */
            display: block; /* Per rimuovere spazi vuoti sotto l'immagine */
            margin: 0px;
            margin-bottom: 30px;
            padding: 0px;
  }
 #covercatalogo{
	 padding-top:30px;
	 padding-left: 30px;
	 padding-right: 30px;
	 
 }
 
 .intro{
	 margin-top: 30px;
	 margin-bottom: 70px;
	 text-align: center;
	 font-family: 'Montserrat', sans-serif;
 }
 
 
 #bimba{
	 width: 200px;
	 height: auto;
	 padding-left: 0px;
	 padding-bottom: 30px;
 }
 
 a{
	 text-decoration: none;
	 color: black;
 }
 a:hover{
	 color: #EF7E6B;
 }
 
 h1{
	 font-family: 'Barrio', system-ui;
	 
	 font-size: 70px;
	 text-align: center;
 }
 #libri{
	color: #EF7E6B; 
	margin-top:20px;
 }
  .navbar-nav {
    margin-right: 15px; /* Centra gli elementi nella navbar */
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%; /* Fai sì che la navbar occupi l'intera larghezza */
}

.pro-title:hover{
	color: #ffffff;
}

.img-responsive{
	width: 450px;
	margin:0px;
}

#dettaglio{
	color: #98D4E1;
}


li{
	text-decoration: none;
	
}


.navbar-nav .nav-item {
    text-align: center; /* Centra il testo all'interno dei pulsanti */
}
.head{
  background-color: #ffffff;
}
.navbar-nav .nav-link {
    padding: 0.5rem 1rem; /* Aggiusta il padding dei pulsanti per uno spaziamento uniforme */
    padding-right: 15px;
  
}
.navbar-toggler{
  border: none;
  background-color: #FDD28A;
  margin-right: 20px;
}
.navbar-nav .nav-item .nav-link:hover{
	color: #EF7E6B;
}

footer{
	margin-top: 50px;
	padding-top: 40px;
	padding-bottom: 0px;
  background-color: antiquewhite;
  height: 100%;
  width: 100%;
}
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ffffff; color: #EF7E6B;}

select{
margin: 10px;

}

.titoloDett{
	background-color: #FCDD98;
	color: #ffffff;
	padding: 5px;
	font-family: 'Roboto Slab', serif;

}
#dettTitolo{
	margin-top: 30px; 
}

/* Stile del pulsante */
   .btn-rounded{
        
        color: #EF7E6B; /* Colore di sfondo */
        border-color: #EF7E6B; /* Colore del bordo */
        background-color: #ffffff;
        margin-top: 20px;

    }

    /* Effetto hover */
     .btn-rounded:hover {
        background-color: #EF7E6B; /* Colore di sfondo durante l'hover */
        border-color: #EF7E6B; /* Colore del bordo durante l'hover */
        color: #ffffff;
    }
    
.modal-header{
	background-color: #9AD0C3;
}
.modal-title{
	color: #ffffff;
}

.minicard{
	font-size: 18px;
}


    
    .btn-outline-success{
        
        color: #EF7E6B; /* Colore di sfondo */
        border-color: #EF7E6B; /* Colore del bordo */
        background-color: #ffffff;

    }

    /* Effetto hover */
    .btn-outline-success:hover {
        background-color: #EF7E6B; /* Colore di sfondo durante l'hover */
        border-color: rgb(224, 132, 112); /* Colore del bordo durante l'hover */
        color: #ffffff;
    }
    
    .btn-success{
		background-color: #98D4E1; /* Colore di sfondo durante l'hover */
        border-color: #ffffff; /* Colore del bordo durante l'hover */
        color: #ffffff;
	}
	.btn-success:hover{
		background-color: #ffffff; /* Colore di sfondo durante l'hover */
        border-color: #98D4E1; /* Colore del bordo durante l'hover */
        color: #98D4E1;
	}
    
    #filtroForm{
		background-color: #FFEABB;
		padding: 15px;
	}

#lista{
	margin-top: 50px;
}
.card {
  margin-bottom: 30px;
}



.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}
.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 10px;
  color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f3f8fa!important
}
.table-product td{
  border-top: 0px solid #dee2e6 !important;
  color: #728299!important;
}


.row.align-items-center.mb-5{
	margin-bottom: 0px;
	margin-top: 48px;
}
.row.align-items-center{
	margin-bottom: 48px;
	margin-top: 0px;
}

.noPadd1{
	padding-left: 0px;
}
.noPadd2{
	padding-left: 0px;
}


#riepilogo{
	padding-top: 10px;
	padding-bottom:50px;
	font-family: 'Barrio', system-ui;
	color: #EF7E6B;
	padding-left: 0px	;
}
.display-4{
	color: #98D4E1;
	padding: 0px;
	font-family: 'Barrio', system-ui;
}

@media (min-width: 576px) {
    .custom-margin {
        margin-left: 70px;
    }
}


#about{
	padding-top: 10px;
	padding-bottom:20px;
	font-family: 'Barrio', system-ui;
	color: #FDD28A;
	padding-left: 0px	;
}
#cardContact{
	background-color: #f1f1f1;
}


/*panel*/
.panel {
  border: none;
  box-shadow: none;
}

.panel-heading {
  border-color:#eff2f7 ;
  font-size: 16px;
  font-weight: 300;
}

.panel-title {
  color: #2A3542;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}


/*product list*/

.pro-page-list {
  margin: 5px 0 0 0;
}

.product-list img{
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
  position: relative;
}


.pro-title {
  color: #5A5A5A;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}


.rating {
	font-size: 24px;
}
.rating .star {
	color: #ccc; /* Colore vuoto */
    cursor: pointer;
}
        
.rating .star.selected {
	color: #FBD75D; /* Colore giallo */
}


#titolocat{
	font-family: 'Roboto Slab', serif;
}

.w-full {
width: 100%;
padding-left: 0px;
padding-top: 20px;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
 
  
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}


.be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #ffffff;
    background-color: #BACDED;
    margin-bottom: 15px;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}


 .gig-rating {
 
     color: #FBD75D;
}







#myCarousel {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}


.zoom-image:hover {
    transform: scale(1.05); /* Ingrandisce l'immagine del 5% quando il mouse è sopra */
    transition: transform 0.3s ease; /* Aggiunge una transizione fluida */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra che sporge */
}

.img-fluid {
    transition: transform 0.1s ease; /* Aggiunge una transizione fluida per il ritorno all'originale */
    /* Altri stili dell'immagine, se necessario */
    

display: block;
border-radius: 3px;
position: relative;
box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
transition: transform 200ms ease-in, box-shadow 200ms ease-in;
padding-left: 0px;
object-fit: cover; 
}
.img-fluid:hover {
box-shadow: 0px 11px 18px rgba(0,0,0,0.3);
transform: scale(1.025);
}



    .carousel-control-next-icon {
		background-image: url('/img/ROSSO-2.png');
		margin-left: 50%;
		box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		background-size: contain; /* Imposta la dimensione dell'immagine in modo che si adatti al contenitore */
    width: 3vw; /* Imposta la larghezza in modo relativo alla larghezza della viewport */
    height: 3vw;
		  cursor: pointer;
		}
	.carousel-control-prev-icon {
		background-image: url('/img/ROSSO-1.png');		
		margin-right: 50%;
		box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		vertical-align: middle;
		background-size: contain; /* Imposta la dimensione dell'immagine in modo che si adatti al contenitore */
    width: 3vw; /* Imposta la larghezza in modo relativo alla larghezza della viewport */
    height: 3vw;
      cursor: pointer;
		}
	.carousel-control-next, .carousel-control-prev {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 15%;
		padding: 0;
		text-align: center;
		background: 0 0;
		border: 0;
		opacity: 1;
		transition: .1s ease; 
		
		}
		
		
		

.active{
	margin-right: 0px;
}
.about{
	box-shadow: none;
}
.about:hover{
	box-shadow: none;
	transform: none;
}

.body{
	margin-top: 70px;
}

.roboto{
	font-family: 'Roboto Slab', serif;
}
.monserrat{
	font-family: 'Montserrat', sans-serif;
}

.rosso-bc{
	background-color: #EF7E6B;
	color: #ffffff;
}
.rosso{
	color: #EF7E6B;
}
.verde-bc{
	background-color: #9AD0C3;
	color: #ffffff;
}
.verde{
	color: #9AD0C3;
}
.azzurro-bc{
	background-color: #98D4E1;
	color: #ffffff;
}
.azzurro{
	color: #98D4E1;
}
.giallo-bc{
	background-color: #FFC86D;
	color: #ffffff;
}
.giallo{
	color: #FFC86D;
}
.arancione-bc{
	background-color: #F89765;
	color: #ffffff;
}
.arancione{
	color: #F89765;
}
.blu-bc{
	background-color: #7892BD;
	color: #ffffff;
}
.blu{
	color: #7892BD;
}



.product-image {
display: block;
border-radius: 3px;

position: relative;
box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
transition: transform 200ms ease-in, box-shadow 200ms ease-in;
margin-left: 0px;
padding-left: 0px;
}


