<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bibliothè | Libri</title>
	<link rel="icon" type="image/png" th:href="@{/img/favicon.ico}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" th:src="@{/js/catalogo.js}"></script>
	<script type="text/javascript" th:src="@{/js/GENERICO.js}"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="head">
			<!--navbar-->
        	<div th:replace="~{fragments :: navbar(autori=${autori}, generi=${generi}, caseEditrici=${caseEditrici})}"></div>
		</div>

		<h5 class="body">
			<div class="col-lg-10 mx-auto ">
				<h1 id="libri" class="text-center">libri</h1>
				<div class="intro">
					<h3>Benvenuto tra i nostri libri!</h3>
					<p>Qui potrai vedere tutti i libri che abbiamo nella nostra biblioteca.<br>
						Scegliamo con cura ogni titolo, e speriamo che troverai il tuo prossimo libro del cuore!</p>
				</div>
				<div id="filtroForm" class="text-center my-3">
					<h5 class="d-block mx-auto my-2">Cerca</h5>
					<form th:action="@{'/catalogo/ricerca'}" method="post" onsubmit="return gestisciRicerca()" class="d-flex">
						<select class="form-select form-select-sm" id="genereSelect" name="idGenere">
							<option selected disabled>Genere</option>
							<option th:text="'Tutti'" th:value="null"></option>
							<option th:each="g: ${generi}" th:text="${g.nomeGenere}" th:value="${g.id}"
								th:selected="${idGenere != null AND idGenere == g.id}"></option>
						</select>
						<select class="form-select form-select-sm" id="autoreSelect" name="idAutore">
							<option selected disabled>Autore</option>
							<option th:text="'Tutti'" th:value="null"></option>
							<option th:each="a: ${autori}" th:text="${a.nomeAutore}" th:value="${a.id}"
								th:selected="${idAutore != null AND idAutore == a.id}"></option>
						</select>
						<select class="form-select form-select-sm" id="casaSelect" name="idCasaEditrice">
							<option selected disabled>Casa Editrice</option>
							<option th:text="'Tutte'" th:value="null"></option>
							<option th:each="ce: ${caseEditrici}" th:text="${ce.nomeCasa}" th:value="${ce.id}"
								th:selected="${idCasaEditrice != null AND idCasaEditrice == ce.id}"></option>
						</select>
						<select class="form-select form-select-sm" id="linguaSelect" name="idLingua">
							<option selected disabled>Lingua</option>
							<option th:text="'Tutte'" th:value="null"></option>
							<option th:each="l: ${lingue}" th:text="${l.idioma}" th:value="${l.id}"
								th:selected="${idLingua != null AND idLingua == l.id}"></option>
						</select>
						<label class="" th:text="'Titolo: '"></label>
						<input type="text" class="form-control" id="titolo" name="titolo" th:value="${titolo}">
						<label class="" id="stato" th:text="'Stato: '"></label>
						<input type="checkbox" name="stato" th:value="false" id="statoDisp" th:checked="${stato == false}"
							class="form-check-input" /> Disponibile
						<input type="checkbox" name="stato" th:value="true" id="statoNonDisp" th:checked="${stato == true}"
							class="form-check-input" /> Non disponibile
						<input type="submit" class="btn btn-outline-success" th:value="'Applica'">
						<input type="button" class="btn btn-outline-success" value="Pulisci" onclick="pulisciForm()">
					</form>

				</div>

			</div>
			<h5 th:if="${risultati.isEmpty()}" th:text="'Nessun risultato per la tua ricerca'"></h5>
			<h5 th:unless="${risultati.isEmpty()}" th:text="'Risultano ' + ${risultati.size()} + ' libri in lista'"></h5>

			<div class="col-md-10 mx-auto">
				<div id="lista" class="row product-list justify-content-center">
					<div th:each="r : ${risultati}" class="col-xl-3 col-lg-4 col-md-5 col-sm-12 card-with-shadow">
						<section class="panel">
							<div class="pro-img-box ">
								<img id="covercatalogo" th:src="${r.copertina}" alt="cover" />
							</div>
							<div class="panel-body text-center">
								<h5 id="titolocat">
									<a th:text="${r.titolo}" th:href="@{/dettaglio(id=${r.id})}" class="pro-title"></a>
								</h5>
								<p th:text="${r.autore.nomeAutore}+' '+${r.autore.cognome}"></p>
								<p th:text="'Stato: '+${r.stato ? 'Non disponibile' : 'Disponibile'}"></p>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>



		<!--FRAGMENT FOOTER-->
		<div th:replace="~{fragments :: footer}"></div>
	</body>
</body>

</html>