<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bibliothè | Libri</title>
	<link rel="icon" type="image/png" th:href="@{/img/favicon.ico}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" th:src="@{/js/catalogo.js}"></script>
	<script type="text/javascript" th:src="@{/js/GENERICO.js}"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="head">
			<!--navbar-->
			<div th:replace="~{fragments :: navbar(autori=${autori}, generi=${generi}, caseEditrici=${caseEditrici})}">
			</div>
		</div>

		<h5 class="body">
			<div class="col-lg-10 mx-auto ">
				<h1 id="libri" class="text-center">libri</h1>
				<div class="intro">
					<h3>Benvenuto tra i nostri libri!</h3>
					<p>Qui potrai vedere tutti i libri che abbiamo nella nostra biblioteca.<br>
						Scegliamo con cura ogni titolo, e speriamo che troverai il tuo prossimo libro del cuore!</p>
				</div>
				<div id="filtroForm" class="text-center my-3">
					<h5 class="d-block mx-auto my-2">Cerca</h5>
					<div class="row">
						<!-- Prima riga: Cerca con la linea -->
						<div class="col-lg-12 text-center my-1">

							<form th:action="@{'/catalogo/ricerca'}" method="post" onsubmit="return gestisciRicerca()"
								class="d-flex flex-wrap">
								<label class="col-lg-2" th:text="'Titolo: '"></label>
								<input type="text" class="form-control col-lg-10" id="titolo" name="titolo"
									th:value="${titolo}">
								<!-- Linea -->
								<hr class="my-3 col-lg-12">
						</div>
					</div>

					<div class="row">
						<!-- Terza riga: Genere, Autore, Casa Editrice, Lingua -->
						<div class="col-lg-3 my-2">
							<h5>Genere</h5>
							<select class="form-select form-select-sm" id="genereSelect" name="idGenere">
								<option th:text="'Genere'" th:value="null" selected></option>
								<option th:each="genere : ${generi}" th:value="${genere.id}"
									th:text="${genere.nomeGenere}"
									th:selected="${idGenere != null AND idGenere == genere.id}">
								</option>
							</select>
						</div>
						<div class="col-lg-3 my-2">
							<h5>Autore</h5>
							<select class="form-select form-select-sm" id="autoreSelect" name="idAutore">
								<option th:text="'Autore'" th:value="null" selected></option>
								<option th:each="autore : ${autori}" th:value="${autore.id}"
									th:text="${autore.nomeAutore} + ${autore.cognome}"
									th:selected="${idAutore != null AND idAutore == autore.id}">
								</option>
							</select>
						</div>
						<div class="col-lg-3 my-2">
							<h5>Casa Editrice</h5>
							<select class="form-select form-select-sm" id="casaSelect" name="idCasaEditrice">
								<option th:text="'Casa Editrice'" th:value="null" selected></option>
								<option th:each="casa : ${caseEditrici}" th:value="${casa.id}"
									th:text="${casa.nomeCasa}"
									th:selected="${idCasaEditrice != null AND idCasaEditrice == casa.id}">
								</option>
							</select>
						</div>
						<div class="col-lg-3 my-2">
							<h5>Lingua</h5>
							<select class="form-select form-select-sm" id="linguaSelect" name="idLingua">
								<option th:text="'Lingua'" th:value="null" selected></option>
								<option th:each="lingua : ${lingue}" th:value="${lingua.id}" th:text="${lingua.idioma}"
									th:selected="${idLingua != null AND idLingua == lingua.id}"></option>
								</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 my-2">
							<label class="" id="stato" th:text="'Stato: '"></label>&nbsp; <br>
							<input type="radio" name="stato" th:value="false" id="statoDisp"
								th:checked="${stato == false}" class="form-check-input" /> Disponibile
							<input type="radio" name="stato" th:value="true" id="statoNonDisp"
								th:checked="${stato == true}" class="form-check-input" /> Non disponibile
							<input type="radio" name="stato" th:value="null" id="statoBoth"
								th:checked="${stato == null}" class="form-check-input" checked /> Entrambi
						</div>
					</div>

					<div class="row">
						<!-- Quarta riga: Button Applica e Pulisci -->
						<div class="col-lg-12 text-center my-2">
							<div class="ms-auto mt-2">
								<input type="submit" class="btn btn-outline-success" th:value="'Applica'">
								<input type="button" class="btn btn-outline-success" value="Pulisci"
									onclick="pulisciForm()">
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
			<h6 style="text-align: center;" class="mt-3" th:if="${risultati.isEmpty()}"
				th:text="'Nessun risultato per la tua ricerca'"></h6>
			<h6 style="text-align: center;" class="mt-3" th:unless="${risultati.isEmpty()}"
				th:text="'Risultano ' + ${risultati.size()} + ' libri in lista'"></h6>

			<div class="col-md-10 mx-auto">
				<div id="lista" class="row product-list justify-content-center">
					<div th:each="r : ${risultati}" class="col-xl-3 col-lg-4 col-md-5 col-sm-12 card-with-shadow">
						<section class="panel">
							<div class="pro-img-box ">
								<img id="covercatalogo" th:src="${r.copertina}" alt="cover" />
							</div>
							<div class="panel-body text-center">
								<h5 id="titolocat">
									<a th:text="${r.titolo}" th:href="@{/dettaglio(id=${r.id})}" class="pro-title"></a>
								</h5>
								<p th:text="${r.autore.nomeAutore}+' '+${r.autore.cognome}"></p>
								<p th:text="'Stato: '+${r.stato ? 'Non disponibile' : 'Disponibile'}"></p>
							</div>
						</section>
					</div>
				</div>
			</div>
	</div>
	<!--FRAGMENT FOOTER-->
	<div th:replace="~{fragments :: footer}"></div>
</body>
</html>